#config#
version = 1.2
server =
mode =
label =
identifier =
dateformat =
separator =
snap_flags =
snap_location =
credentials =
encryption =
compression =
user =
#config#

#table#
#table#

#source#
#source#

#target#
#target#
